.bg {
  background-color: #ECEFF4;
}

.navbar {
    background-color: #4C566A;
    min-height: 3.25rem;
    position: relative;
    z-index: 30;
}

.main {
  min-height: 100vh;
}

.main h1 {
  font-size: 3em;
  font-weight: bold;
  color: white;
}

.description {
  line-height: 1.5;
  font-size: 1.2em;
}

.footer {
  display: flex;
  flex: 1;
  margin-top: 2rem;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: #3B4252;
  color: white;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
